%p
  %b Title:
  = @topic.title
%p
  %b Alternate Titles:
  %ul
    %li
      = form_for @alternate_title do |f|
        = f.hidden_field :topic_id
        = f.text_field :title
    - @topic.alternate_titles.each do |alternate|
      - unless alternate.new_record?
        %li
          = alternate.title
          = link_to 'X', alternate_title_path(alternate), method: :delete
%p
  %b Description:
  = @topic.description
%p
  %b Requirements:
  %ul
    %li
      = form_for @topic.parent_relationships.build do |f|
        =# render 'relationships/form_errors'
        = f.hidden_field :child_id
        = f.collection_select :parent_id, @other_topics, :id, :title, prompt: true
        = f.submit 'Add'
    - @topic.parents.each do |parent|
      %li
        = link_to parent.title, parent
%p
  %b Children:
  %ul
    %li
      = form_for @topic.child_relationships.build do |f|
        =# render 'relationships/form_errors'
        = f.hidden_field :parent_id
        = f.collection_select :child_id, @other_topics, :id, :title, prompt: true
        = f.submit 'Add'
    - @topic.children.each do |child|
      %li
        = link_to child.title, child
%p
  %b Resources:
  %ul
    %li
      [
      = link_to 'add', new_topic_resource_path(@topic.id)
      ]
    - @topic.resources.each do |resource|
      %li
        %b
          = link_to resource.title, resource
        \-
        = link_to resource.url, resource.url

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'New', new_topic_path
