%p#notice= notice

%p
  %b Title:
  = @topic.title
%p
  %b Description:
  = @topic.description
%p
  %b Requirements:
  %ul
    %li
      [
      = link_to 'add', new_relationship_path(relationship: { child_id: @topic.id })
      ]
    - @topic.parents.each do |parent|
      %li
        = link_to parent.title, parent
%p
  %b Children:
  %ul
    %li
      [
      = link_to 'add', new_relationship_path(relationship: { parent_id: @topic.id })
      ]
    - @topic.children.each do |child|
      %li
        = link_to child.title, child

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'New', new_topic_path
