%p#notice= notice

%p
  %b Title:
  = @topic.title
%p
  %b Description:
  = @topic.description
%p
  %b Requirements:
  %ul
    - @topic.parents.each do |parent|
      %li
        = link_to parent.title, parent

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
