%h2 Relationships

= render 'relationships/form_errors'

%table
  %tr
    %th Parent
    %th
    %th Child
    %th

  = render 'relationships/form'

  - @relationships.each do |relationship|
    %tr
      %td= link_to relationship.parent.title, relationship.parent
      %td ⇒
      %td= link_to relationship.child.title, relationship.child
      %td= button_to 'Destroy', relationship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
