%h1 Listing relationships

= render 'form_errors'

= form_for @relationship do |f|
  %table
    %tr
      %th Parent
      %th
      %th Child
      %th
      %th
      %th

    -# new Relationship
    %tr
      %td= f.collection_select :parent_id, Topic.all, :id, :title, prompt: true
      %td ⇒
      %td= f.collection_select :child_id, Topic.all, :id, :title, prompt: true
      %td= f.submit submit_text
      %td
      %td
      %td

    - @relationships.each do |relationship|
      %tr
        %td= link_to relationship.parent.title, relationship.parent
        %td ⇒
        %td= link_to relationship.child.title, relationship.child
        %td= link_to 'Show', relationship
        %td= link_to 'Edit', edit_relationship_path(relationship)
        %td= link_to 'Destroy', relationship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
