%p#notice= notice

%p
  %b Parent:
  = link_to @relationship.parent.title, @relationship.parent
%p
  %b Child:
  = link_to @relationship.child.title, @relationship.child

= link_to 'Edit', edit_relationship_path(@relationship)
\|
= link_to 'Back', relationships_path
\|
= link_to 'New', new_relationship_path
