!!!
%html
  %head
    %title CodeCruise
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: "#{params[:controller]}_controller" }
    %header
      %h1
        = link_to root_path do
          <span class="logo-front">code</span><span class="logo-back">cruise</span>
      %ul.nav
        - if is_admin?
          %li= link_to 'Admin', admin_path
        %li
          = link_to 'Fork', 'https://github.com/afeld/code_cruise'
    - unless flash.empty?
      %ul.flash
        - flash.each do |type, msg|
          %li{ class: type }
            = msg

    .content
      = yield
