!!!
%html
  %head
    %title Learnweb
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %h1= link_to 'LearnWeb', root_path
      %ul.nav
        %li= link_to 'Topics', topics_path
        %li= link_to 'Relationships', relationships_path
    = yield
