!!!
%html
  %head
    %title CodeCruise
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %h1
        = link_to root_path do
          <span class="logo-front">code</span><span class="logo-back">cruise</span>
      %ul.nav
        %li= link_to 'Admin', admin_path
    = yield
